.project-card {
    display: flex;
    align-items: space-around;
    border-radius: 20px;
    box-shadow: var(--box-shadow-main);
    margin: 3rem;
    padding: 2rem;
    width: 350px;
    height: 400px;
    max-width: 100%;
}

.project-card img {
    /* display: flex; */
    align-items: center;
    object-fit: cover;
    border-radius: 360px;
    padding: 10px;
    max-width: 100%;

}

.project-card:hover {
    box-shadow: var(--box-shadow-secondary);
}

.project-text {
    text-align: center;
    padding: 2rem;

}
