/* .head-text {
    position: relative;
}

.text-on-image {
    position: absolute;
    text-align: center;
    right: 25%;
    left: 25%;
    bottom: 1%;
    font-family: var(--hero-font);
    color: var(--hero-font);
} */

.title-text {
    font-size: 70px;
    text-shadow:
      0 0 7px var(--bg-color),
      0 0 10px var(--bg-color),
      0 0 21px var(--bg-color),
      0 0 42px var(--bg-color),
      0 0 82px var(--bg-color),
      0 0 92px var(--bg-color),
      0 0 102px var(--bg-color),
      0 0 151px var(--bg-color);
}

/* .sub-text {
    font-size: 30px;
} */

/* body * {
    color:                      hsla(210, 100%, 100%, 0.88)     !important;
    background:                 hsla(210, 100%,  50%, 0.33)       !important;
    outline:    0.25rem solid hsla(210, 100%, 100%, 0.50)     !important;
}

.debug-center {
    display:            flex;
    justify-content:    center;
    align-items:        center;
} */

.hero {
    height: 500px;
    width: 100%;
    color: var(--bg-light);
    display: flex;
    justify-content: center;
    align-items: center;  
    background:  url("../images/lgbtq.webp") no-repeat center;
    /* linear-gradient(to top, var(--bg-color), var(--bg-light), var(--bg-mid)), */
    text-align: center;
    align-items: space-between;
}

.hero-highlight {
    font-family: var(--highlight-text);
    font-size: 80px;
    text-shadow: var(--hero-highlight);
}

/* .qr-code-hero {
    align-items: flex-end;
}

.qr-code {
    margin: 5px;
    color: var(--primary);
    background-color: var(--primary);
}

div.qr-code {
    margin-top: 0;
} */

.hero-container {
    display: flex;
    align-items: flex-end;
}

/* .qr-code-section {
    margin-bottom: 16rem;
    padding: 0.5rem;
} */

.hero-text-section {
    margin-left: 2rem;
    padding: 0.5rem;
}

.hero-text {
    font-size: 50px;
    font-family: var(--hero-font);
    color: var(--hero-font);
    font-weight: bold;
}

p .bg-color-text {
    background-color: var(--bg-color);
}

@media screen and (max-width: 750px) {
    .hero-highlight {
        font-size: 30px;
    }
   
    p.hero-text {
        font-size: 30px;
    }
   
    .hero {
        max-width: 100%;
    }
   }
@media screen and (max-width: 480px) {
 .hero-highlight {
     font-size: 30px;
 }

 p.hero-text,
 #text {
     font-size: 20px;
 }

 .hero {
     max-width: 100%;
 }
}