@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,500;0,600;0,700;0,800;1,200;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,800&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;
  --highlight-font: 'Fira Sans', sans-serif;
  --standard-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #9C59D1;
  --bg-color-mid: #FFF430;
  --bg-color-light: #f1f1f1;
  --bg-color-dark: #36454f;
  --dark-font: #36454f;
  --hero-font: #FFF430; 
  --shadow-font: #9C59D1;
  --light-font: #f1f1f1;
  --highlight-font:#dbaffc;
  --primary-color: #9C59D1;
  --secondary-color: #FFF430;
  --tertiary-color: #36454f;
  --primary-shadow: #39085e;
  --secondary-shadow: #ddd313;
  --tertiary-shadow: #222628;
  --highlight-color: #f1f1f1;
  --box-shadow-main: 0px 2px 15px 2px var(--primary-shadow);
  --box-shadow-secondary: 0px 2px 15px 2px var(--secondary-shadow);
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  /* --logo: url(mariapetra.github.io/images/LogoSVG.svg) no-repeat;  */
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-weight: var(--standard-font);
  background-color: var(--bg-color);
}


